li:hover {
  transition: 0.3s;
  background-color: #0d6efd;
  .country {
    color: #fff;
  }
}
.country {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: space-arounds;
  p {
    margin-left: 5px;
    margin-bottom: 0px;
  }
}
